{
    "$schema": "./config_schema.json",
    "userIDField": "sub",
    "expirationField": {
        "field": "exp",
        "format": "unix"
    },
    "claims": {
        "appRoles": {
            "admin": "all",
            "standardUser": "standard",
            "guest": "standard"
        }
    },
    "permissions": {
        "all": {
            "read": "*",
            "write": "*"
        },
        "standard": {
            "read": {
                "tasks": ["_id == '68935a33005a7e6e00e1b4aa'"]
            },
            "write": {
                "tasks": ["_id == '68935a33005a7e6e00e1b4aa'"]
            }
        }
    }
}