{
    "$schema": "./config_schema.json",
    "userIDField": "sub",
    "defaultExpirationSeconds": 3600,
    "JWTSecret": "a-string-secret-at-least-256-bits-long",
    "clientInfo": {
        "info": "This is some client info"
    },
    "identityServiceMetadata": {
        "metadata": "This is some identity service metadata"
    },
    "roles": {
        "cabin_crew": {
            "members": [
                "User1",
                "User2"
            ],
            "permissions": {
                "read": {
                    "collection1": ["true"]
                },
                "write": {
                    "collection1": ["_id == '12345'"]
                }
            }
        },
        "admin": {
            "members": [
                "AdminUser"
            ],
            "permissions": {
                "read": "*",
                "write": "*"
            }
        }
    }
}